

.d{
    background-color: black;
}

.borderRed{

    border: 1px solid red;

}


.borderGreen{

    border: 1px solid rgb(101, 150, 129);

}

* {
    padding-left: 0;
    padding-right: 0;
 }


 button:hover,.nav-link:hover,.ishover:hover{
     background-color: rgb(203, 223, 231);
 }
 

.isActive{
    background-color: rgb(53, 50, 50);
    color: white;
}