<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th>numero</th>
                    <th>colonne</th>
                    <th>valeur precedente</th>
                    <th>nouvele valeur</th>
                    <th>date</th>
                    <th>depuis</th>
                    <th>vers</th>
                    <th>produit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let history of transferHistory">

                    <th>{{history.tranferNumero}}</th>
                    <th scope="row">{{history.editedField}}</th>
                    <td>{{history.oldValue}}</td>
                    <td>{{history.newValue}}</td>
                    <td>{{history.updateDate| date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td>{{history.senderName}}</td>
                    <td>{{history.recipientName}}</td>
                    <td>{{history.productName}}</td>

                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>