<div class="container" *ngIf="transferOverview">
    <div class="row">
        <div class="col-3 shadow-sm">
           <h6>nombre de destination</h6>
           <h4>{{transferOverview.recipientNbr}}</h4>
           <h6>nombre de transfer</h6>
           <h4>{{transferOverview.transferOperationNbr}}</h4>
        </div>
        <div class="col-3 shadow-sm">
            <h6>nombre de livraison en cours</h6>
            <h4>{{transferOverview.deliveryNbr}}</h4>
            <h6>nombre de livraison terminer</h6>
            <h4>{{transferOverview.shippedNbr}}</h4>
        </div>
        <div class="col-3 shadow-sm">
            <h6>quantite en cours de transfert</h6>
            <h4>{{transferOverview.transferedStockQuantityTotal}}</h4>
            <h6>quantité livrée (terminer)</h6>
            <h4>{{transferOverview.transferedStockQuantityShipped}}</h4>
        </div>
        <div class="col-3 shadow-sm">
            <h6>Etat de completion</h6>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar " [style]="{'width': transferOverview.percentageTransferStatus+'%'}">
                   {{transferOverview.shippedNbr}} terminer sur / {{transferOverview.transferOperationNbr}}
                </div>
            </div>
            <h6 [style]="{'margin-top':'20px'}">quantite total</h6>
            <h4>{{transferOverview.transferedStockQuantity}}</h4>
            <h6 [style]="{'margin-top':'20px'}">quantité restante</h6>
            <h4>{{transferOverview.transferedStockQuantity - ( transferOverview.transferedStockQuantityTotal + transferOverview.transferedStockQuantityShipped)}}</h4>
        </div>
    </div>
</div>
