


<!-- <form > -->
  <mat-form-field appearance="fill" [ngStyle]="{'width':'52%'}">
    <!-- <input type="text" id="nom" [(ngModel)]="updatedAssignment.Nom" name="nom" required> -->
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input type="text" id="nom" [(ngModel)]="updatedAssignment.nom" name="nom"  matInput>
    </mat-form-field>
  
    <label for="dateRendu" [ngStyle]="{'margin-left':'15px'}">Date Rendu </label>
    <input type="date" id="dateRendu" [(ngModel)]="updatedAssignment.date_rendu" name="dateRendu" required>
  
    <label for="rendu" [ngStyle]="{'margin-left':'15px'}">Rendu</label>
    <input type="checkbox" id="rendu" [(ngModel)]="updatedAssignment.rendu" name="rendu">
  
    <button type="button" mat-raised-button color="primary" [ngStyle]="{'margin-left':'15px'}" (click)="updateAssignment()" >Update Assignment</button>
  </mat-form-field>
  <!-- </form> -->
