

<div class="container-fluid">
    <div class="row">

        <div class="col-12">
          <div class="accordion accordion-flush shadow-sm" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h3>nouveau depart</h3>
              </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <app-tranfer-details-management-form></app-tranfer-details-management-form>
                   </div>
               </div>
            </div>
           </div>
        </div>
<!-- [style]="{'border':'1px solid black'}" -->
        <div class="col-12" >
          <app-tranfer-details-management-overview></app-tranfer-details-management-overview>
        </div>


        <div class="col-12">
            <app-tranfer-details-management-table></app-tranfer-details-management-table>
        </div>


    </div>
</div>